

.container {
    display: grid;
    max-width: 1440px;
    width: 100%;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(21, 180px);
}

#box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/5;
    background-color: white;
   
}

#box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/6;   
    background-color: #94BADB;
}

#box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 5/9;
    background-color: #02135C;
    color: white;
}
#box4 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 6/10;   
    background-color: #EEEEF0 ;
}
#box5 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 9/15;
    background-color: #78C8FB;
}

#box6 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 10/14;   
   background-color: #02135C;
    color: white;
}

#box7 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 15/19;
    background-color: #EEEEF0 ;
}
#box8 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 14/19;   
   background-color:  #94BADB;   
}

#box9 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 19/21;
    background-color: white;
}

#box10 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/23;
    grid-row: 19/21;
    background-color: white;
}


.footer-left,
.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-left h2,
.footer-right h2 {
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 20px;
}

.footer-left p {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 16px;
}

.footer-right ul {
    list-style: none;
    padding: 0;
    }

.footer-right li {
    margin: 12px 0;
}

.footer-right a {
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 16px;
}

.footer-right a:hover {
    opacity: 0.7;
}

.footer-til-top {
    position: absolute;
    right: 40px;
    bottom: 40px;
    text-align: center;
}
.footer-til-top a:hover {
    opacity: 0.7;
}

.footer-til-top img {
    width: 35px;
    height: auto;
    display: block;
}

.footer-til-top span {
    font-size: 16px;
    margin-top: 2px;
    display: block;
    text-decoration: none;
    color: black;
}

@media (max-width: 768px) {
    .footer-input {
        grid-template-columns: 1fr;
        text-align: center;
    }
}