.container {
    display: grid;
    max-width: 1440px;
    width: 100%;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(21, 180px);
}

#box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/5;
    background-color: white;

}

#box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/6;
    background-color: #94BADB;
}

#box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 5/9;
    background-color: #02135C;
    color: white;
}

#box4 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 6/10;
    background-color: #EEEEF0;
}


/* Box 5  */

#box5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 9/15;
    background-color: #78C8FB;
    position: relative;
}

.box5-icon {
    position: absolute;
    max-width: 150px;
    right: 10px;
    top: 10px;
    z-index: 10;
}

.box5-title {
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 20px;
}

.box5-p {
    text-align: center;
    max-width: 475px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 16px;
}

.box5-ul {
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 16px;
}

.box5.li {
    margin: 12px 0;
}

.box5-button {
    margin-top: 60px;
    padding: 12px 30px;
    background: #F9B608;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
}

.box5-button:hover {
    background: #e0a206;
}

/* End Box 5  */


/*  Box 6  */
#box6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 10/14;
    background-color: #02135C;
    color: white;
    position: relative;
}

.box6-icon {
    position: absolute;
    max-width: 150px;
    left: 10px;
    top: 10px;
    z-index: 10;
}

.box6-title {
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 20px;
}

.box6-p {
    text-align: center;
    max-width: 475px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 16px;
}

.box6-ul {
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 16px;
}

.box6.li {
    margin-top: 80px;
}

.box6-button {
    margin-top: 60px;
    padding: 12px 30px;
    background: #F9B608;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
}

.box5-button:hover {
    background: #e0a206;
}

/*  End Box 6  */


/*  Box 7  */
#box7 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    grid-column: 1/2;
    grid-row: 15/19;
    background-color: #EEEEF0;
    position: relative;
}

.quote-icon {
    font-size: 300px;
    font-weight: bold;
    line-height: 1;
    position: absolute;
}

.quote-icon.left {
    left: -35%;
    top: -100%;
}

.quote-icon.right {
    right: -35%;
    top: 0%;
}

.review {
    font-size: 16px;
    font-style: italic;
}

.review-wrapper {
    position: relative;
    max-width: 400px;
    margin-top: 40px;
}

.name {
    font-weight: bold;
    margin-top: 20px;
}

.stars img {
    width: 230px;
    margin-top: 40px;
}

.trustpilot {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
}

.trustpilot img {
    width: 18px;
}

.box7-button {
    margin-top: 30px;
    background: #2AB47C;
    border: none;
    padding: 14px 28px;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.box7-button:hover {
    background: #27a875;
}

/*  End Box 7  */

/*  Box 8  */

#box8 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 14/19;
    background-color: #94BADB;
}

.form-container {
    max-width: 600px;   
}

input {
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 100px;
    margin-top: 20px;
    box-sizing: border-box;
}

.row {
    display: flex;
    gap: 20px;
}

.row input {
    flex: 1;
}

.textarea {
    height: 150px;
    resize: vertical;
}

.box8-button {
    margin-top: 60px;
    padding: 12px 30px;
    background: #F9B608;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.box8-button:hover {
    background: #e0a206;
}

/* End Box 8  */

/* Box 9 - 10  */

#box9 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 19/21;
    background-color: white;
}

#box10 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 2/23;
    grid-row: 19/21;
    background-color: white;
}


.footer-left,
.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-left h2,
.footer-right h2 {
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 20px;
}

.footer-left p {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 16px;
}

.footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-right li {
    margin: 12px 0;
}

.footer-right a {
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 16px;
}

.footer-right a:hover {
    opacity: 0.7;
}

.footer-til-top {
    right: 20px;
    bottom: 20px;
}

.footer-til-top img {
    width: 35px;
    height: auto;   
}

.footer-til-top a:hover {
    opacity: 0.7;
}

.footer-til-top span {
    font-size: 20px;
    margin-top: 2px;
    display: block;
    text-decoration: none;
    text-align: center;
}

@media (max-width: 768px) {
    .footer-input {
        grid-template-columns: 1fr;
        text-align: center;
    }
}