body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: #000B38;
}

h1 {
    text-align: center;
    max-width: 500px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 15px;

}

h2 {
    text-align: center;
    max-width: 500px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 10px;
}

h3 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 24px;
}

h4 {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 18px;
}

p {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
}

.p1 {
    text-align: center;
    max-width: 500px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
}

a {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
}

.button1 {
    margin-top: 40px;
    padding: 12px 30px;
    background: #F9B608;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
}

.button1:hover {
    background: #e0a206;
}

.button-nav {
    padding: 20px 50px;
    margin-right: auto;
    margin-left: 120px;
    background: #F9B608;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.button-nav:hover {
    background: #e0a206;
}

.button2 {
    margin-top: 60px;
    background: #2AB47C;
    border: none;
    padding: 14px 28px;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.button2:hover {
    background: #27a875;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1440px;
    width: 100%;
    padding: 40px 120px;
    height: 100px;
}

.logo img {
    height: 70px;
}

.nav-links {
    display: flex;
    justify-items: center;
    list-style: none;
    gap: 60px;
}

.nav-links a {
    text-decoration: none;
    color: #000B38;
}

.hero-video {
    display: flex;
    justify-content: flex-start;
    margin: auto;
}

.hero-video video {
    max-width: 1440px;
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    max-width: 1440px;
    width: 100%;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(21, 180px);
}

#box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 1/5;
    background-color: white;
}

/* End Box 1  */

/* Box 2  */
#box2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 1/6;
    background-color: #94BADB;
}

#box2 .ikonbox2 {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 150px;
    height: auto;
}

/* End Box 2  */

/* Box 3  */
#box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 5/9;
    background-color: #02135C;
    color: white;
}

/* End Box 3  */

/* Box 4  */
#box4 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 6/10;
    background-color: #EEEEF0;
}

#box4 .ikonbox4 {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 150px;
    height: auto;
}

/* End Box 4  */

/* Box 5  */

#box5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 9/15;
    background-color: #78C8FB;
    position: relative;
}

.box5-icon {
    position: absolute;
    max-width: 120px;
    height: auto;
    right: 10px;
    top: 10px;
}

.box5-ul {
    padding: 0;
}

.box5.li {
    margin: 12px 0;
}

/* End Box 5  */


/*  Box 6  */
#box6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 10/14;
    background-color: #02135C;
    color: white;
    position: relative;
}

.box6-icon {
    position: absolute;
    max-width: 120px;
    height: auto;
    left: 10px;
    top: 10px;
}

/*  End Box 6  */


/*  Box 7  */
#box7 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    grid-column: 1/2;
    grid-row: 15/19;
    background-color: #EEEEF0;
    position: relative;
}

.quote-icon {
    font-size: 300px;
    font-weight: bold;
    line-height: 1;
    position: absolute;
}

.quote-icon.left {
    left: -35%;
    top: -100%;
}

.quote-icon.right {
    right: -35%;
    top: 0%;
}

.review {
    font-style: italic;
    font-size: 18px;
}

.review-wrapper {
    position: relative;
    max-width: 400px;
    margin-top: 40px;
}

.name {
    font-weight: bold;
    margin-top: 20px;
}

.stars img {
    width: 230px;
    margin-top: 40px;
}

.trustpilot {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
}

.trustpilot img {
    width: 18px;
}

/*  End Box 7  */

/*  Box 8  */

#box8 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 14/19;
    background-color: #94BADB;
}

.form-container {
    max-width: 600px;
}

input {
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 100px;
    margin-top: 20px;
    margin-bottom: 60px;
    box-sizing: border-box;
}

.row {
    display: flex;
    gap: 20px;
}

.row input {
    flex: 1;
}

.textarea {
    height: 150px;
    resize: vertical;
}

/* End Box 8  */

/* Box 9 - 10  */

#box9 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 19/21;
    background-color: white;
}

#box10 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 19/21;
    background-color: white;
}

.footer-left,
.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-right li {
    margin: 12px 0;
}

.footer-right a {
    text-decoration-style: none;
    color: #000B38;
}

.footer-right a:hover {
    opacity: 0.7;
}

.footer-til-top {
    display: flex;
    flex-direction: column;
    right: 20px;
    bottom: 20px;
}

.footer-til-top img {
    width: 35px;
    height: auto;
}

.footer-til-top a:hover {
    opacity: 0.7;
}

.footer-til-top span {
    font-size: 20px;
    margin-top: 2px;
    display: block;
    text-decoration: none;
    text-align: center;
}


#box1:hover { 
    background-color:whitesmoke 
}

#box2:hover { 
    background-color: #9ac2e5
}

#box3:hover { 
    background-color: #04176c 
}
#box4:hover { 
    background-color: #ffffff 
}

#box5:hover { 
    background-color: #84cefb 
}

#box6:hover { 
    background-color: #04176c  
}

#box7:hover { 
    background-color: #ffffff 
}

#box8:hover { 
    background-color: #9ac2e5 
}



@media (min-width: 768px) {
    #menu-mobile {
        visibility: hidden;
    }

    #martin-mobile {
        visibility: hidden;
    }
    #martin2-mobile {
        visibility: hidden;
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .logo img {
        height: 55px;
        margin-left: 20px;

    }

    .button-nav {
        display: none;
    }

    .hero-video video {
        display: none;
    }

    header {
        padding: 10px 5px;
        height: auto;
        justify-content: space-between;
        align-items: center;
    }

    #menu-mobile {
        margin-right: 20px;
    }


    

    .container {
       display: flex;
       flex-direction: column;
    }

    #box1,
    #box2,
    #box3,
    #box4,
    #box5,
    #box6,
    #box7,   
    #box9,
    #box10 {
     padding: 40px 20px;
    }

    #box3 ul p, 
    #box5 ul p,
    #box6 ul p {
        text-align: left;

    }
 

    #box8 form {
        display: flex;
        flex-direction: column;
        padding: 40px 20px ;
    }

    #box8 .button1 {
        align-self: center;
    }

    #box10 {
    position: relative;
}

.footer-til-top {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

    h1 {
        font-size: 30px;
        padding: 0 20px;
    }

    h2 {
        font-size: 24px;
        padding: 0 20px;
    }

    p,
    .p1 {
        font-size: 15px;
        padding: 0 20px;
        text-align: center;
    }

    .ikonbox2,
    .ikonbox4,
    .box5-icon,
    .box6-icon {
      visibility: hidden;
    }

    .quote-icon {
        display: none;
}


#box1:hover { 
    background-color:whitesmoke 
}

#box2:hover { 
    background-color: #9ac2e5
}

#box3:hover { 
    background-color: #04176c 
}
#box4:hover { 
    background-color: #ffffff 
}

#box5:hover { 
    background-color: #84cefb 
}

#box6:hover { 
    background-color: #04176c  
}

#box7:hover { 
    background-color: #ffffff 
}

#box8:hover { 
    background-color: #9ac2e5 
}


}